body
{
    background-color: #F5F5DC;
	font-family: Verdana, arial, sans-serif;
}

.grid-container 
{
    display: grid;
    grid-template-columns: 150px;
    max-width: 800px;
    min-width: 972px;
    margin: auto;
    box-shadow: 5px 5px 5px #2E0000;
    overflow-x: hidden
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px;
}

.grid-item h2
{
    display: flex;
    padding-left: 10px;
}

.header 
{
    grid-column: 1 / span 5;
    grid-row: 1;
    background-color: #D2B48C;
}

.nav {
    grid-column: 1 ;
    grid-row: 2;
    background-color: #e2d2b0;
}

.content 
{
    grid-column: 2 / 6;
    grid-row: 2  ;
    background-color: #f5f5dc;
    text-align: left;
}

.content ul
{
    text-align: left;
	list-style-image: url(media/ul_img.png);
    padding-left: 25px;
    margin-top: 0px;
}

.footer 
{
    grid-column: 1 / 6;
    grid-row: 3  ;
    background-color: #D2B48C;
    font-size: .6em;
    font-style: italic;
    text-align: center;
}

nav ul
{
    list-style-type: none;
    font-size: 1.2em;
    font-weight: bold;
	text-align: center;
    padding: 0;
}

nav a 
{
	text-decoration: none;
}

nav a:link 
{
	color: #916359;
}

nav a:visited 
{
	color: #A58366;
}

nav a:hover 
{
	color: #f5f5dc;
} 

#contentRight
{
    float:left;
    padding-left: 30px;
}

table 
{
	margin-left: 90px;
	width: 625px;
    padding-bottom: 10px;
}

td, th 
{
	padding: 10px;
}

.product
{
	text-align: center;
	font-weight: bold;
}

tr:nth-child(odd) {
	background-color: #D2B48C;
} 

#musicContainer
{
    width: 500px;
    margin-left: 140px;
}

#musicContainer h3 
{
	background-color: #e2d2b0;
}

#musicContainer img
{
    float: left;
    padding: 0 40px 0 40px;
}

.pDesc{
    padding: 0 0 10px 10px;
} 

label {
	float: left;
	display: block;
	text-align: right;
	width: 120px;
	padding-right: 2em;
}

input, textarea {
	display: block;
	margin-bottom: 20px;
    margin-left: 20px;
}
